// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*,
*:before,
*:after {
  box-sizing: content-box;

}

html,body {
  font-family: sans-serif;
}

#quotes {
  text-align: left;
  border: 1px solid red;
  list-style: none;
}
